@media (max-width:1260px){
    
    .side-logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;  
    }
    .side-bar1{
        width: 72px;
        display: flex;
        align-items: center;
    }
    .header{
        width: 72px;
    }
    body{
        justify-content: center;
    }
    .myprofile-container{
       width: 100%;
    }
    .section-box{
        display: none;
    }
    .post-container{
        display: none;
    }
    .myprofile-des,.three-dot-cont{
        display: none;
    }
}
@media (max-width:1105px){
    .body{
        justify-content: center;
    }
    .suggestion,.right-container{
        width: 256px;
        justify-content: space-around;
        left: 690px;
        position: fixed;
    }
    .search-box{
        display: flex;
        flex-direction: row;
        width: 289px;
        height: 42px;
        margin-bottom: 12px;  
        padding-top: 5px;
    }
    .subs-box{
        width:256px;
     }  
     .whats{  
        width:289px;
     }
}
@media (max-width:1000px) {  
    .suggestion,.right-container{
        display: none;
    }
    body{
        justify-content: center; 
        width: 80%;
    }
     .side{
        /* justify-content: center; */
        width: 70%;
    } 
}

@media (max-width:750px) {
    .header,.side-bar1{
        display: none;
    }
    body{
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }
}
@media(max-width:546px){
    .bottom-panel{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        height: 48px;
        width: 99%;
        position: fixed;
        background-color: white;
        bottom: 0px;
        border-top: 1px solid rgb(219,219,219);
    }
    .side{
        width: 100%;
    }
    .feed-header,.extra{
        width: 95%;
    }
    .feed-container{
        width: 90%;
    }
    .bottom-stat{
        width: 92%;
    }
    .feed-wrap{
        border: white 1px solid;
    }
    .feed{
    padding: 0;
    }
    .tweet-media{
        width: 96%;
    }
    .user-data{
        width: 93%;
    }
    .feed-wrap,.feed,.feed-container{
        width: 96%;
    }
}